/*================*/
/*Basic Setup */
/*================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{font-size: 100%;
scroll-behavior: smooth;}
body{
 font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    
}
ul li{
    list-style-type: none;
}
/*==============*/
/* Heading */
/*==============*/
h1{
    font-size:3rem;
    color:#fff;
}
.clear-fix::after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    width: 0;
}
/*========================*/
/*Reuseable Component */
/*=========================*/
.row{
    width: 71.25rem;
    margin: 0 auto; 
}
section
{padding: 8rem 0;}

h2{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem; 
    color: #fff;
}
h2::after{
    content: '';
    display: block;
    height: .4rem;
    background: #14a58c;
    width: 5rem;
    margin: auto;
    margin-top: 2rem;
}
h3{
    font-size: 2rem;
    text-transform:uppercase;
    font-weight: 300;
}
.box{
    
}
.box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top:1 rem;
    padding: 1%;
}
/*===========*/
/*Buttom */
/*===========*/
.btn-hero:link,
.btn-hero:visited,
.btn{
    background: #333;
    border-bottom: 0.3rem, solid #000;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.0rem 3.0rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin: 2.5rem;    
}
/*===================*/
/*paragraph*/
/*===================*/
.little-description
 {font-size: 1.6rem;
     width: 60%;
     margin-left: 20%;
     line-height: 3rem;
    
}
/*===================*/
/*services*/
/*===================*/
section{
    padding: 1.0rem;
}

/*===================*/
/*Header Section*/
/*===================*/
header
{
    background:linear-gradient(rgba(135, 80, 156, 0.9),rgba(135, 80, 156, 0.9)), url(../img/hero-bg.jpg); 
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 85vh;
    position: relative;
    background-attachment:fixed;
}
 
.logo
    {width: auto;
    height: 2.1875rem;
    margin-top: 2.1875rem;
    float: left;
}

/*=====================*/
/*Main Navigation */
/*=====================*/
.main-nav{
          float: right;
          margin-top: 2.8125rem;
}
.main-nav li
           {
            display: inline-block;
            margin-left: 0.9375rem; 
}
.main-nav li:first-child
{
        margin-left:0 ; 
}
.main-nav li a:link,
.main-nav li a:visited
   {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(100, 58, 121, 0);
    padding: 0.1875rem 1rem;
    border-radius: 0.1875rem;
    display: inline-block;
    font-size: 1rem;
    transform: .3s; 
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited
{
    background: #643a79;
    
}
.main-nav li.active      {background: #643a79;
}
.hero-text-box{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;  
}

.btn-hero:link,
.btn-hero:visited
{
    background: #eb7d4b;
    border-color: #c86a40;
}
/*=====================*/
/*Services-section */
/*=====================*/
.servics-section
        {
         color:#fff;
        text-align: center;
         background:linear-gradient(rgba(23, 194, 164, 0.4),rgba(23, 194, 164, 0.4)),url(../img/services.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center bottom;
            
}
.servics-section h2::after{
    background: 14a58c;
}
.service-icon{
    height: 8rem;
    margin-top: 4rem;
    margin-bottom:3.5rem;
}
/*=====================*/
/*Team-section */
/*=====================*/
.team-section{
          background: linear-gradient(rgba(231, 241, 248, 0.2),rgba(231, 241, 248, 0.2)),url(../img/bigdeal.jpg);
           background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
    background-attachment:fixed;
          text-align: center;
}
         
.team-section h2{
    color: #396be8;
}
.team-section h2::after{
   background: #c8d9e5;
}
.team-members{
    margin-top: 3rem;
    margin-bottom:  2.5rem;
    height: 15rem;
    widows:15rem;
    border-radius: 50%;
    padding: 1rem;
    
}
.team-section h3{
    color: #7accc8;
}
.role{
    color: #30bae7;
    font-size: 1rem;
    text-transform: capitalize;
    margin-top: .5rem; 
    display: inline-block;
}

.team-section .box{
    color: #3c4761;
}
.social-link{
    margin-top: 4.5rem;

}
.social-link ul li{
    display: inline-block;
    margin: 0 ;
    
}
.social-link ul li i {
    color: #ffffff;
}
.social-link ul li a:link i::before{
    background: #bdd1df;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-block;
    font-size: 2rem;
    padding: .5rem ;
    transition: .5s
}
    
.social-link ul li a:hover i::before{
    background: #3cb878;
    transform: rotate(360deg);
}
 
    